@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*, *::before, *::after {
	box-sizing: border-box;
	font-family: inherit;
}

::selection {
	background: #181;
	color: #fff;
}

a {
	color: inherit;
	text-decoration: underline;
}

a:focus {
	outline: none;
	box-shadow: 0 0 0 2px currentColor;
}

a:hover, a:focus {
	font-weight: 500;
	text-decoration-thickness: 2px;
}

body {
	font-family: 'IBM Plex Mono', monospace;
	line-height: 1.6em;
	margin: 0;
	padding: 1rem;
	color: #181818;
	background: #ddd;
	background: linear-gradient(135deg, #ddd, #d5d5d5);
	min-height: 100vh;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
	max-width: 70ch;
	margin-inline: auto;
}

h2 {
	margin-block: 0rem;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #ddd;
		background: #181818;
		background: linear-gradient(135deg, #181818, #111);
	}
}
