@import "tailwindcss";

@layer base {
  * {
    font-family: inherit;
  }

  ::selection {
    background: #181;
    color: #fff;
  }

  a {
    @apply text-inherit underline underline-offset-4;
  }

  /* keyboard attained focus */
  a:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px currentColor;
  }

  a:hover,
  a:hover,
  a:focus {
    font-weight: bolder;
    text-decoration-thickness: 2px;
  }

  body {
    font-family: "IBM Plex Mono", monospace;
    line-height: 1.6em;
    margin: 0;
    padding: 1rem;
    color: #ddd;
    background: #181818;
    background: linear-gradient(135deg, #181818, #111);
    min-height: 100vh;
  }

  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 70ch;
    margin-inline: auto;
  }

  ul,
  ol {
    @apply list-inside space-y-2 mb-8;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  p {
    @apply my-4;
  }

  article * + h1,
  article * + h2,
  article * + h3,
  article * + h4,
  article * + h5,
  article * + h6 {
    @apply mt-10;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-[#e4e4e4] my-4 font-bold;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm;
  }

  @media (prefers-color-scheme: light) {
    body {
      color: #181818;
      background: #ddd;
      background: linear-gradient(135deg, #ddd, #d5d5d5);
    }
  }
}

@layer utilities {
  .container {
    @apply max-w-3xl mx-auto px-4 py-4;
  }
}
