---
import BaseHead from "@/components/BaseHead.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import Footer from "@/components/Footer.astro";
import { SITE_TITLE } from "@/consts";
import { getCollection } from "astro:content";

const notForYouPosts = (await getCollection("blog"))
	.filter(({ data }) => data.tags.includes("not-for-you"))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={`Not for you - ${SITE_TITLE}`}
			description="Yapping pro max"
		/>
	</head>
	<body>
		<main class="container">
			<section>
				<div class="text-right mb-4">
					<p class="text-sm mb-0">Yapping pro max</p>
					<h1 class="mt-0">Not for you</h1>
				</div>
				<ol class="list-decimal space-y-4">
					{
						notForYouPosts.map((post) => (
							<li>
								<a href={`/blog/${post.id}/`} class="">
									{post.data.title} -
									<FormattedDate date={post.data.pubDate} />
								</a>
							</li>
						))
					}
				</ol>
			</section>
		</main>
		<Footer />
	</body>
</html>
